body {
    
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color: hsl(230, 17%, 14%);
    margin:0px;
    
    
}
.container{
    background-color: hsl(232, 19%, 15%);
    padding:36px 165px 154px 165px;

}
.pattern {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    font-size: 28px;
    color:hsl(0, 0%, 100%);
}

.mode {
    display: flex;
    align-items: flex-end;
}

.text {
    color: hsl(228, 34%, 66%);
    font-weight: 700;
    font-size: 14px;
}
#toggle {
    margin-left: 13px;
    margin-bottom: -4px;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-image: 
 linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.icon-image-preview{
    width: 18px;
    height: 18px;
    
}
.subtitle{
    color: hsl(228, 34%, 66%);
    font-weight: 700;
    font-size: 14px;
}

.container1 {
    padding: 0px 165px 46px 165px;
    display:flex;
    /* justify-content: space-between; */
    margin-top: -112px;

    
}
/* .cards{
   
    display:flex;
    justify-content: space-between;
    margin-top: -112px;

} */
.card, .card3, .card4 {
    background-color:hsl(228, 28%, 20%);
    padding:32px 64px 0px 64px;
    text-align: center;
    border-radius:5px;
    width:25%;
    display:flex;
    flex-direction: column;
    flex:1;

}
.card{
    border-top: 4px solid #178ff5;
}
.card3{
    border-top: 4px solid linear-gradient(hsl(37, 97%, 70%) to hsl(329, 70%, 58%));  
    
}
.card4{
        border-top: 4px solid hsl(348, 97%, 39%);
}
.cardHead{
    display:flex;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;

}
.icon-symbol{
    padding-right: 8px;
}
.number{
    font-weight: 700;
    font-size: 56px;
    color:hsl(0, 0%, 100%);

}
.unity{
    padding-bottom:24px;
    font-weight: 400;
    font-size: 12px;
    color: hsl(228, 34%, 66%);
    text-transform: uppercase;
}

.cardFootText, .cardFootText1{
    font-weight: 700;
    font-size: 12px;
    padding-right: 8px;
}
.cardFootText{ 
    color: hsl(163, 72%, 41%);

}
.cardFootText1{
    color:hsl(356, 69%, 56%);
}
.title2{
    font-weight: 700;
    font-size: 24px;
    color:hsl(0, 0%, 100%);
    padding: 0 165px 24px 165px;

}