body {
    background-color:hsl(230, 17%, 14%);
    font-family: 'Inter', sans-serif;
    padding:25px 100px 50px 100px;
}

.pattern {
    background-color:hsl(232, 19%, 15%);
    height: 30%;
    
}

.title {
    font-weight: 700;
    color:hsl(0, 0%, 100%);
}

.mode {
    display: flex;
}

.text {
    color: hsl(228, 34%, 66%);
    font-weight: 400;
}

#grad1 {

 background-color: linear-gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%) ;
}


.card {
    background-color:hsl(228, 28%, 20%);
    
}