body {
    
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color:hsl(232, 19%, 15%);
    margin:0px 165px 0px 165px;

    
}
.container{
    
    width: 100%;
    height: 100%;

}
.pattern {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    font-size: 28px;
    color:hsl(0, 0%, 100%);
    margin-top:36px;
}

.mode {
    display: flex;
    align-items: flex-end;
}

.text {
    color: hsl(228, 34%, 66%);
    font-weight: 700;
    font-size: 14px;
    margin-right: 13px;
}
#toggle {
    margin-bottom: -4px;
    width: 48px;
    height: 24px;
    border-radius: 12px;
 background-image: 
 linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.icon-image-preview{
    width: 18px;
    height: 18px;
    
}
.subtitle{
margin-bottom:154px;
color: hsl(228, 34%, 66%);
    font-weight: 700;
    font-size: 14px;
}

.container1{
    background-color:red;
}

.card {
    background-color:hsl(228, 28%, 20%);
    
}